In [4]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.join('..','src'))
from preprocesing import robust_scaling

In [5]:
df = pd.read_csv("../data/raw/wine.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [8]:
df = robust_scaling(df.drop(["Id", "quality"], axis=1))
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,-0.25,0.727273,-0.757576,-0.428571,-0.15,-0.142857,-0.075,0.492308,1.025641,-0.333333,-0.5000
1,-0.05,1.454545,-0.757576,0.571429,0.95,0.857143,0.750,0.052747,-0.564103,0.333333,-0.2500
2,-0.05,0.969697,-0.636364,0.142857,0.65,0.142857,0.425,0.140659,-0.256410,0.166667,-0.2500
3,1.65,-0.969697,0.939394,-0.428571,-0.20,0.285714,0.575,0.580220,-0.769231,-0.222222,-0.2500
4,-0.25,0.727273,-0.757576,-0.428571,-0.15,-0.142857,-0.075,0.492308,1.025641,-0.333333,-0.5000
...,...,...,...,...,...,...,...,...,...,...,...
1138,-0.80,-0.040404,-0.363636,0.142857,-0.15,1.142857,0.075,-0.413187,0.564103,0.722222,0.5000
1139,-0.55,0.404040,-0.515152,-0.428571,-0.55,1.071429,0.025,-0.074725,0.564103,1.111111,-0.4375
1140,-0.85,0.323232,-0.515152,-0.285714,0.55,1.357143,0.175,-0.782418,0.717949,-0.222222,0.1875
1141,-1.00,0.121212,-0.454545,0.000000,-0.85,1.857143,0.350,-0.685714,1.076923,0.777778,0.6250
1142,-1.00,0.505051,-0.393939,-0.285714,-0.20,1.357143,0.175,-0.531868,1.333333,0.500000,0.0000